{
    "extends": ["airbnb","prettier","prettier/react"],
    "plugins": ["prettier"],
    "rules": {
        "react/jsx-filename-extension":[
            1, {
                "extensions":[".js",".jsx"]
            }
        ]
    },
    "globals": {
        "window":true,
        "document":true,
        "Headers":true
    }
}